QObject QLabel{
color:white;
font-size: 18px;
}
QObject QLineEdit{
color:white;
font-size: 16px;
}
QStatusBar{color:white;background-color: #5b6881;}
#menubar{color:white;background-color: #5b6881;font-size: 15px;}
#sab{background-color: #293141;}
MainWindow{background-color: #293141;}
#l_first{color:white; background-color: #5b6881; border-radius: 10px;border: 2px solid #E1DFF1;}
#l_second{color:white; background-color: #5b6881; border-radius: 10px;border: 2px solid #E1DFF1;}
#l_third{color:white; background-color: #5b6881; border-radius: 10px;border: 2px solid #E1DFF1;}
#pb_answer{font-size: 25px;border: 2px solid #C3BFD8; height: 60px; width: 300px;}
#aboutC{color:white;font-size: 25px;border: 2px solid #C3BFD8;background-color: #5b6881;border-radius: 5px;}
#answers1{color:white;font-size: 25px;border: 2px solid #C3BFD8;background-color: #5b6881;border-radius: 5px;}
#w_tasks{color:white;font-size: 25px;border: 2px solid #C3BFD8;background-color: #5b6881;border-radius: 5px;}
#your{color:white;}
#result{color:white;}
#your2{color:white;}
#answers{color:white;}
#l_tasks{color:white;font-size: 25px;border: 2px solid #C3BFD8;background-color: #5b6881;border-radius: 5px;}
#l_question{color:white;}
#l_correct{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#l_incorrect{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#l_name{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#l_result{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#l_total{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#l_percent{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#m_correct{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#m_incorrect{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#m_name{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#m_total{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#m_percent{color:white;min-height: 30px;background-color: #5b6881;border-radius: 5px;}
#l_task{color:white;}
#pb_new{font-size: 20px;border: 2px solid #C3BFD8;border-radius: 5px;min-width:340px;}
#pb_audio{font-size: 20px;border: 2px solid #C3BFD8;border-radius: 5px;min-width:340px;}
#label{color:white;}
#label_3{color:white;}
#label_4{color:white;}
#label_5{color:white;}
#label_2{color:white;}
#le_task{color:white;}
#le_answer1{color:white;}
#le_answer2{color:white;}
#le_answer3{color:white;}
#m_login{color:white;}
#le_audio{color:white;}
#l_file{color:white;}
#tb_play{ width:65px; height:65px; border: 2px solid #E1DFF1;}

/* Find Recorders QDialog */
* {
    border: none;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    outline: 0;
}
QLineEdit,
QTextEdit {
    min-height: 34px;
    background-color: #293141;
    border: 1px solid #343d4d;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
    color: #808da0;
    padding: 0 10px;
    margin: 0 20px 0 0;
}
QLineEdit {
    max-height: 34px;
}
QTextEdit {
    max-height: 70px;
}
QLineEdit:focus,
QTextEdit:focus,
QTextEdit:focus:hover {
    border: 1px solid #56a0f1;
}
QLineEdit:hover,
QTextEdit:hover,
QComboBox:hover,
QSpinBox:hover,
QCheckBox::indicator:hover,
QRadioButton::indicator:hover {
    border: 1px solid #556071;
}

QLineEdit:disabled,
QTextEdit:disabled,
QComboBox:disabled,
QSpinBox:disabled,
QCheckBox::indicator:disabled,
QRadioButton::indicator:disabled {
    background: #222936;
    border: 1px solid #222936;
}
QPushButton{
    min-width: 100px;
    min-height: 35px;
    background: #36455A;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
}
QPushButton:hover, QToolButton:hover {
    background: #4478B7;
}
QPushButton:!enabled, QToolButton:!enabled {
    background: #36455A;
    color: #476271;
}
QDialog {
    background: #242c3b;
    border: 1px solid #222a38;
    border-top: 3px solid #4991e5;
}
QDialog#LoginDialog {
    border: none;
    border-image: url(:/svg/bgr_login_3.png) no-repeat stretch stretch center;
    padding: 0;
    margin: 0;
}

QLabel#GreenLabel,
QLabel#RedLabel,
QLabel#YellowLabel {
    /*border-radius: 12px;*/
    min-height: 25px;
    max-height: 25px;
    min-width: 25px;
    max-width: 25px;
    margin: 27px 0 0 0;
}
QLabel#GreenLabel {
    background: url(:/svg/green_icon.svg) no-repeat center;
    /*border: 1px solid #1f8b4d;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 rgb(43, 192, 106),
                stop:1 rgb(31, 139, 77)) !important;*/
}
QLabel#RedLabel {
    background: url(:/svg/red_icon.svg) no-repeat center;
    /*border: 1px solid #ca4233;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 rgb(242, 82, 69),
                stop:1 rgb(202, 66, 51)) !important;*/
}
QLabel#YellowLabel {
    background: url(:/svg/yellow_icon.svg) no-repeat center;
    /*border: 1px solid #c96e1e;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 rgb(245, 144, 50),
                stop:1 rgb(201, 110, 30)) !important;*/
}

#iconMenu {
    max-width: 20px;
    max-height: 20px;
    background: url(:/svg/info_icon.svg) no-repeat left;
}

QTableView::item QPushButton,
QTableView QPushButton {
    margin: 0;
    border: none;
}
QPushButton#PlayDelegate {
    background: url(:/svg/play_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#PlayDelegate:hover {
    background: url(:/svg/play_delegate_hover.svg) no-repeat center;
}
QPushButton#PlayDelegate::disabled {
    background: url(:/svg/play_delegate_disabled.svg) no-repeat center;
}
QPushButton#SelectDelegate {
    background: url(:/svg/select_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#SelectDelegate:hover {
    background: url(:/svg/select_delegate_hover.svg) no-repeat center;
}
QPushButton#SelectDelegate::disabled {
    background: url(:/svg/select_delegate_disabled.svg) no-repeat center;
}
QPushButton#AuthDelegate {
    background: url(:/svg/auth_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#AuthDelegate:hover {
    background: url(:/svg/auth_delegate_hover.svg) no-repeat center;
}
QPushButton#AuthDelegate::disabled {
    background: url(:/svg/auth_delegate_disabled.svg) no-repeat center;
}
QPushButton#RebootDelegate {
    background: url(:/svg/reboot_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#RebootDelegate:hover {
    background: url(:/svg/reboot_delegate_hover.svg) no-repeat center;
}
QPushButton#RebootDelegate::disabled {
    background: url(:/svg/reboot_delegate_disabled.svg) no-repeat center;
}
QPushButton#ShutdownDelegate {
    background: url(:/svg/shutdown_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#ShutdownDelegate:hover {
    background: url(:/svg/shutdown_delegate_hover.svg) no-repeat center;
}
QPushButton#ShutdownDelegate::disabled {
    background: url(:/svg/shutdown_delegate_disabled.svg) no-repeat center;
}
QPushButton#TrashDelegate {
    background: url(:/svg/trash_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#TrashDelegate:hover {
    background: url(:/svg/trash_delegate_hover.svg) no-repeat center;
}
QPushButton#TrashDelegate::disabled {
    background: url(:/svg/trash_delegate_disabled.svg) no-repeat center;
}
QPushButton#UserEnabledDelegate {
    background: url(:/svg/user_enabled_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#UserEnabledDelegate:hover {
    background: url(:/svg/user_enabled_delegate_hover.svg) no-repeat center;
}
QPushButton#UserEnabledDelegate::disabled {
    background: url(:/svg/user_enabled_delegate_disabled.svg) no-repeat center;
}
QPushButton#UserDisabledDelegate {
    background: url(:/svg/user_disabled_delegate.svg) no-repeat center;
    min-width: auto;
    max-width: auto;
    padding: 0;
    margin: 0;
}
QPushButton#UserDisabledDelegate:hover {
    background: url(:/svg/user_disabled_delegate_hover.svg) no-repeat center;
}
QPushButton#UserDisabledDelegate::disabled {
    background: url(:/svg/user_disabled_delegate_disabled.svg) no-repeat center;
}
/*QPushButton#Setting {
    background: url(:/svg/setting_l.svg) no-repeat left;
}
QPushButton#Setting:hover {
    background: url(:/svg/setting_b.svg) no-repeat left;
}*/
/*QPushButton#EnableUser {
    background: url(:/svg/enable_user_l.svg) no-repeat left;
}
QPushButton#EnableUser:hover {
    background: url(:/svg/enable_user_b.svg) no-repeat left;
}
QPushButton#DisableUser {
    background: url(:/svg/desable_user_l.svg) no-repeat left;
}
QPushButton#DisableUser:hover {
    background: url(:/svg/desable_user_b.svg) no-repeat left;
}*/
QMenu::item#CreateRecordGroupMenuItem {
    background: url(:/svg/add_groups.svg) no-repeat left;
}
QMenu::item#CreateRecordGroupMenuItem:hover {
    background: url(:/svg/add_groups_blue.svg) no-repeat left;
}
QMenu::item#RenameRecordGroup,
#RenameRecordGroup,
QIcon#RenameRecordGroup,
QMenu::icon#RenameRecordGroup {
    background: url(:/svg/rename.svg) no-repeat left;
}
QMenu::item#RenameRecordGroup:hover {
    background: url(:/svg/rename_blue.svg) no-repeat left;
}


/* QMenu User */
QMenu {
    background-color: #242c3b;
    /*min-width: 175px;
    max-width: 100%;
    width: 100%;*/
    border: 1px solid #293243;
    padding: 5px 0;
    margin: 0;
}
QMenu::item {
    /*min-width: 175px;*/
    color: #dde1e7;
    padding: 5px 20px;
    font-size: 12px;
}
QMenu::item:selected {
    background-color: #2c3e50;
    color: #59a5ff;
}
QMenu::item:disabled {
    background: #e0e0e0;
    color: #9a9a9a;
}
QMenu::item:disabled:hover {
    background: #e0e0e0;
    color: #9a9a9a;
}
QMenu::icon {
    padding: 0 0 0 25px;
}


/* Tabs QTabWidget */
QTabBar::tab:selected {
    border-bottom: 3px solid #4991e5;
    color: #dde1e7;
    font-size: 12px;
    font-weight: 400;
    padding: 15px 2px;
    margin: 0 25px;
}
QTabBar::tab:hover {
/*    border-bottom: 3px solid #293141;*/
    color: #dde1e7;
    font-size: 12px;
/*    font-weight: 600;*/
    padding: 15px 2px;
    margin: 0 25px;
}
QTabWidget::pane {
    /*border-bottom: 2px solid red;*/
    position: absolute;
    top: -2px;
}
QTabBar::tab {
    padding: 15px 2px;
    border: none;
    margin: 0 25px;
    border-bottom: 3px solid transparent;
}
QTabWidget::tab-bar {
    /*alignment: center;*/
}
QTabBar {
    font-size: 12px;
    font-weight: normal;
    color: #808da0;
/*    border-bottom: 1px solid #343d4d;*/
    padding: 25px 0;
    background: none;
    width: auto;
}


/* Progress bar */
QProgressBar {
    min-width: 415px;
    max-width: 415px;
    min-height: 5px;
    max-height: 5px;
    background: #2e3745;
    border-radius: 2px;
}
QProgressBar::chunk {
    border-radius: 2px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0 rgb(96, 163, 235),
                stop:1 rgb(30, 96, 174)) !important;
}

/* Left Tree Menu */
QTreeView {
    font-size: 12px;
    show-decoration-selected: 0;
    padding: 15px 0 0 0;
    qproperty-indentation: 25;
    selection-background-color: transparent;
}
QTreeView::item {
    padding: 0 10px;
    margin: 0;
    font-weight: normal;
    color: #DDE1E7;
    background-color: #242C3B;
    selection-background-color: transparent;
    /*qproperty-iconSize: 50px 100px;*/
    min-height: 28px;
    max-height: 28px;
    height: 28px;
    border: none;
    border-top: 2px solid #242C3B;
    border-bottom: 2px solid #242C3B;
    border-right: 2px solid #242C3B;
    border-radius: 4px;
}
QTreeView::item:hover {
    background-color: #2c3445;
}
QTreeView::item:selected {
    background-color: #3A475A;
/*    selection-background-color: #3A475A;*/
    selection-background-color: transparent;
}
QTreeView::item:open {
    /*background-color: #2C3445;
    selection-background-color: transparent;*/
    /*selection-background-color: #272e3a;*/
}
QTreeView::item:open:hover {
    background-color: #2c3445;
}
/*QTreeView::item:has-children:active {
    color: #38404d;
    background-color: #eeba30;
}
QTreeView::item:has-children:!active {
    background-color: #eeba30;
    color: #38404d;
}*/
/*QTreeView::item:selected:active {
    background-color: #eeba30;
    color: #38404d;
}
QTreeView::item:selected:!active {
    background: #eeba30;
}*/
QTreeView::item:focus {
    border-radius: 4px;
    border: none;
    background-color: #3A475A;
    selection-background-color: transparent;
    alternate-background-color: #3A475A;
    /*selection-background-color: #3A475A;*/
}
QTreeView::item:focus:hover {
    background-color: #3A475A;
}
QTreeView::item:closed {
    /*background-color: #242C3B;*/
}
QTreeView::branch {
    background-color: #242C3B;
    min-height: 28px;
    max-height: 28px;
    height: 28px;
    border-top: 2px solid #242C3B;
    border-bottom: 2px solid #242C3B;
    border-left: 2px solid #242C3B;
}
QTreeView::branch:open {
    background: #242C3B url(:/svg/tree_close_group.svg) no-repeat center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
QTreeView::branch:closed:has-children {
    background: #242C3B url(:/svg/tree_open_group.svg) no-repeat center;
}

QLineEdit {
    height: 34px;
    min-height: 34px;
    max-height: 34px;
    background-color: #293141;
    border: 1px solid #343d4d;
    border-radius: 4px;
    font-size: 12px;
    font-weight: normal;
    color: #808da0;
    padding: 0 10px;
    margin: 0;
}
QLineEdit:focus {
    border: 1px solid #56a0f1;
}
/* Styles for forms elements */
    /* QSpinBox, QCombobox */
    QSpinBox,
    QComboBox {
        padding: 0 10px;
        background-color: #293141;
        border: 1px solid #343d4d;
        border-radius: 4px;
        font-size: 12px;
        font-weight: normal;
        color: #808da0;
        height: 34px;
        min-height: 34px;
        margin: 0 15px 0 0;
    }
    QSpinBox {
        min-width: 50px;
    }
    QSpinBox::up-button {
        background: url(:/svg/arrow_up.svg) no-repeat center;
        right: 5px;
    }
    QSpinBox::down-button {
        background: url(:/svg/arrow_down.svg) no-repeat center;
        right: 5px;
    }
    QSpinBox::up-button:hover {
        background: #4c5462 url(:/svg/arrow_up.svg) no-repeat center;
    }
    QSpinBox::down-button:hover {
        background: #4c5462 url(:/svg/arrow_down.svg) no-repeat center;
    }
    QComboBox::drop-down {
        border: none;
        background: url(:/svg/arrow_down.svg) no-repeat center;
        padding: 0 5px;
        margin: 0 0 0 -15px;
    }
    /* QCheckBox */
    QCheckBox {
        color: #808da0;
        font-size: 12px;
        spacing: 15px;
        height: 20px;
    }
    QCheckBox::indicator {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        background: #242c3b;
        border: 1px solid #323a49;
        /*subcontrol-position: left bottom;*/
        margin: -2px 0 0 0;
    }
    QCheckBox::indicator:checked {
        border: 1px solid #4489da;
        background: #4478B7 url(:/svg/active_checkbox.svg) no-repeat center;
    }
    /* QRadioButton */
    QRadioButton {
        color: #808da0;
        font-size: 12px;
        spacing: 15px;
        height: 20px;
    }
    QRadioButton::indicator {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background: #242c3b;
        border: 1px solid #323a49;
        margin: -2px 0 0 0;
    }
    QRadioButton::indicator:checked {
        border: 1px solid #4489da;
        background: #478fe4;
        /*background: #478fe4 url(:/svg/active_checkbox.svg) no-repeat center;*/
    }
    /* QToolButton */
    QToolButton {
        min-width: 55px;
        background-color: #36455A;
        color: #272e3a;
        border-radius: 3px;
        width: 77px;
        height: 33px;
        color: white;
        font-size: 16px;
    }
    QToolButton:hover {
        background-color: #4478B7;
        color: white;
    }
    /* Table */
    QTableView {
        background: #1D2430;
        border-collapse: collapse;
        padding: 0;
        color: #808DA0;
        font-size: 12px;
        margin: 0;
        outline: 0;
    }
        QTableView > QHeaderView {
            font-size: 12px;
            border: 1px solid #343D4D;
            border-radius: 3px;
        }
        QTableView > QHeaderView::section:horizontal {
            color: #808DA0;
            height: 43px;
            border-style: solid;
            background: #293141;
            text-align: left;
        }
        QTableView > QHeaderView::section:first {
            text-align: left;
/*            padding: 0 0 0 15px;*/
        }
        QTableView::item {
            /*border-bottom: 1px solid #343D4D;
            border-bottom: 1px solid red;*/
            border-bottom: 1px solid #343D4D;
            text-align: left;
           /*padding: 0 15px 0 15px;*/
        }
        QTableView::item:selected {
            background-color: #293141;
            color: #808DA0;
            min-height: 10px;
            max-height: 10px;
            outline: 5px solid red;
            /*border-top: 5px solid #1d2430;
            border-bottom: 2px groove green;
            border-bottom: 5px solid #1d2430;*/
        }

